<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE</title>
    <link rel="stylesheet" href="/Css/index.css">
    <link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">
</head>

<body>
    <%- include('../partials/header') %>

        <!--fin header-->
        <main class="container">
            <div class="formulario-create">
                <h1>CREAR NUEVO ITEM</h1>
                <form method="post" action="./create" id="miFormulario1" enctype="application/x-www-form-urlencoded">
                    <div class="categoriaCreate">
                        <label for="categoria">Categoria:</label>
                        <select name="categoria" id="categoria">
                            <% categorias.forEach(categoria=> {%>
                                <option value="<%= categoria %>">
                                    <%= categoria %>
                                </option>
                                <% }); %>

                        </select>
                       
                    </div>
                    <div class="productoCreate">
                        <label for="NombreDelProducto">Nombre del producto:</label>
                        <input type="NombreDelProducto" name="nombre" id="NombreDelProducto"
                            placeholder="Kakashi Hataki Shipudden Saga"><br>
                    </div>
                    <div class="descripcion">
                        <textarea name="DescripcionDelProducto" id="DescripcionDelProducto" cols="60" rows="10"
                            placeholder="Descripcion del producto"></textarea><br>
                    </div>
                    <div class="textProducto">
                       
                        <label for="precio">PRECIO:</label>
                        <input type="text" name="precio" id="precio" placeholder="$ 0.000,00">
                       
                    </div>
                   
                    <div class="imagenesCreate">
                        <label for="Imagenes">Imagen:</label>
                        <input type="file" id="Imagenes" name="imagen">
                    </div>
                    <div class="botonEliagre">
                        <button id="aceptarBoton" type="submit">Aceptar</button>
                        <button id="resetearBoton" type="reset">Limpiar</button>
                    </div>
                </form>
        </main>

        <!--aca empieza el footer-->

        <%- include('../partials/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
            <script src="Css/js/create.js"></script>

</body>

</html>